#content{
    /* height: calc(1000px + auto); */
    width: 1360px;
    /* border: 1px solid red; */
    margin:20px auto;
    display: flex;
    
}



@media screen and (max-width:1359px) {
    #content{

    width: 92%;

}
}
@media screen and (max-width:800px) {
    #content{
        display: block;

    }
}