:root{
    --dark : #333;
    --text-dark : #ccc;
    --light:#eee;
    --text-light:#111;
}
.dark-mode{
    fill: #fff;
    color: var(--light);
}
.light-mode{
    fill: #111;
    color: var(--text-light);
}

body{
    margin: 0;
    padding: 0;
}
.dark{
    color: var(--text-dark);
    background-color: var(--dark);
}
.light{
    color: var(--text-light);
    background-color: var(--light);
}
